.section-header h3 {
    font-size: 36px;
    color: $h4;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: $montserrat;
  }
  
.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: $footer2;
    width: 50%;
}