@import '../../components/icons';

// btn and icons for school profil

.btn-icon {
    display:block;
}

td a.btn-modal {
    padding:7px;

    & i {
        background:#6C757D;
        color:white;
        position:relative;
        top:-3px;
    } 

    &-warning {
        color:#FFC756;
    }
}

.jquery-modal.blocker.current {
    z-index:9999;
}
