
#intro .intro-info h2 {
    color: $introInfo;   
}

h2, span.couleurR{
    color:$h2 ;
}

.couleurB{
    color: $couleurB;
}

.couleurJ{
    color: $couleurJ;
}
  
.section-bg {
    background: $sectionBg;
}