// some theme colors 

$red: #FF5961 !important;
$yellow: #FFC756 !important;
$blue: #57D0FF !important;

$green: #00ad28ab !important;

$darkerBlue: #29c3ff !important;
$linkBlue: #01a6e6 !important;

$lightDark: #505050 !important;
$lightDarker: #4c4c4c !important;

/* titles */
$titleBlue: #51b4da !important;
$titleYellow: #FFC756 !important;
$titleGrey: #8e8e8e !important;

/* content none */
$contentNone: #bdbdbd !important;




