
// most used 
$introInfo : #1bb1dc;
$footer2: #535074;
$h4: #413e66;
$h2 : #ed8986;

// layout/colors
$couleurB: #66bae7;
$couleurJ: #ebbf75;
$sectionBg: #f5f8fd;
$linkActive: #0a98c0;

// /layout
$footer3: #a2a0bd;
$mobileNav: #065e77;

