{% extends 'base-school.html.twig' %}

{% block title %} {{ parent() }} - Ecoles {% endblock %}

{% block body %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="m-0 text-dark">Créer un Cursus</h1> <br>
            <a href="{{ path('school_studies_index', {'id' : school.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                Revenir 
            </a>
        </div>
    </div>
</div> <br>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{{ include('studies/_form.html.twig') }}

{% endblock %}
