<div class="card-body" style="padding-left:0px;padding-right:0px;margin:auto;">
    <h3 style="color:black!important;text-align:center;">Etape 5 : Trouver une école</h3><br>
    <p style="color:grey;text-align:justify;">Le moment est venu de trouver une école. </p>
    <p style="color:#FF5961;text-align:justify;"><strong>Attention, chez Sweeetch, il faut avoir été embauché dans une entreprise avant de pouvoir s'inscrire à une formation !</strong></p>
    <p style="color:grey;text-align:justify;">Pour commencer, rendez-vous dans l'onglet <strong><em>Formations</em></strong> de la barre lattérale</p><br>
    <img src="{{ asset('build/doc-8.jpg') }}" style="width:80%;display:block;margin:auto;box-shadow:0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);">
    <div style="display:flex;justify-content:space-between;width:100%;margin:auto;position:absolute;height:100%;top:0px;left:0px;">
        <div style="display:flex;justify-content:space-between;align-items:center;width:100%;padding-left:5px;padding-right:5px;">
            <button class="btn btn-small" id="return-page" data-url="7" style="border-radius:100px; background-color:rgba(0, 0, 0, 0.7);max-height:100px!important;width:50px;height:50px;color:white;"><i class="fas fa-chevron-left"></i></button>
            <button class="btn btn-small" id="following-page" data-url="9" style="border-radius:100px; background-color:rgba(0, 0, 0, 0.7);max-height:100px!important;width:50px;height:50px;color:white;"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div><br>