<div class="card-body" style="padding-left:0px;padding-right:0px;margin:auto;">
    <h3 style="color:black!important;text-align:center;">Etape 2 : Compléter ses Informations</h3><br>
    <p style="color:grey;text-align:justify;">Pour donner aux employeurs et aux écoles la meilleure image de vous, rendez-vous dans les onglets <em><strong>Infos du Compte</strong></em> et <em><strong>Profil Etudiant</strong></em> pour compléter vos informations personnelles.</p><br>
    <img src="{{ asset('build/doc-2.jpg') }}" style="width:80%;display:block;margin:auto;box-shadow:0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);">
    <div style="display:flex;justify-content:space-between;width:100%;margin:auto;position:absolute;height:100%;top:0px;left:0px;">
        <div style="display:flex;justify-content:space-between;align-items:center;width:100%;padding-left:5px;padding-right:5px;">
            <button class="btn btn-small" id="return-page" data-url="1" style="border-radius:100px; background-color:rgba(0, 0, 0, 0.7);max-height:100px!important;width:50px;height:50px;color:white;"><i class="fas fa-chevron-left"></i></button>
            <button class="btn btn-small" id="following-page" data-url="3" style="border-radius:100px; background-color:rgba(0, 0, 0, 0.7);max-height:100px!important;width:50px;height:50px;color:white;"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div><br>