<div class="jumbotron">
    <div class="modal-head">
        <h3 style="color:black!important;text-align:center;">Bienvenue chez Sweeetch !</h3><br>
        <p style="color:grey;text-align:justify;">Sweeetch vous permet de trouver rapidement un emploi et une formation en alternance. Dans cette courte présentation, nous vous montrons comment utiliser l'application.</p> <br>
        <button class="btn btn-success" id="following-page" data-url="1" style="display:block;margin:auto;">Commencer <i class="fas fa-chevron-right"></i></button>
    </div>
</div>
